In [2]:
import pandas as pd
data = {'A' : [1, 2, 3], 'B' : [4, 5, 6]}
df = pd.DataFrame(data)

In [3]:
df

   A  B
0  1  4
1  2  5
2  3  6

In [4]:
df.corr()

     A    B
A  1.0  1.0
B  1.0  1.0

In [5]:
df.corr(method='spearman')

     A    B
A  1.0  1.0
B  1.0  1.0

In [6]:
import pandas as pd
data = {'직장 만족도': [6, 7, 9, 10, 3, 6, 4, 10, 8, 5, 7],
        '월급': [350, 360, 400, 390, 230, 310, 280, 500, 390, 230, 400]}
df = pd.DataFrame(data)
coef = df.corr(method='pearson')
print(coef)

         직장 만족도       월급
직장 만족도  1.00000  0.89133
월급      0.89133  1.00000

In [7]:
import pandas as pd
data = {'키': [153, 176,183,173,177,166,158,163,190,150,155,175],
        '몸무게': [60,77,80,82,90,50,55,57,80,52,48,60]}
df = pd.DataFrame(data)
coef = df.corr()
print(coef)

            키       몸무게
키    1.000000  0.787468
몸무게  0.787468  1.000000

In [8]:
import pandas as pd
data = {'Eng': [89, 92, 99, 66, 70, 90, 80, 100, 80, 70, 100, 60],
        'Sci': [80, 90, 77, 80, 50, 80, 50, 98, 90, 30, 40, 55],
        'Math': [98, 99, 77, 86, 49, 50, 33, 100, 96, 30, 40, 40]}
df = pd.DataFrame(data)
corr_matrix = df.corr()
print(corr_matrix)

           Eng       Sci      Math
Eng   1.000000  0.391075  0.372532
Sci   0.391075  1.000000  0.898752
Math  0.372532  0.898752  1.000000